body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 12rem;
  background-color: #e2edff;
}

#portofolio {
  background-color: #e2edff;
}

#team {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
